/*--------------------
   HEADER
--------------------*/
header {
    background-color: #2c3e50;
    color: #fff;
}
.fa-bars {
    border: 1px solid #fff;
    color: #888888;
    font-size: 1.5625rem;
}
/*--------------------
   MAIN
--------------------*/
#hero, #about {
    background-color: #1abc9c;
}
#hero ul {
    list-style: none;
}
#hero a {
    color: #fff;
    text-decoration: none;
}
#hero nav, #hero ul {
    padding-left: 0;
}
img {
    height: 12.5rem;
    background-color: grey;
}
#about .container, #contactme .container {
    max-width: 70%;
}
/* #contactme .row {
    padding-left: 0;
} */